/*-------Typography and ShortCodes-------*/
.firstcharacter{
	float:left;
	color:#27ae60;
	font-size:75px;
	line-height:60px;
	padding-top:4px;
	padding-right:8px;
	padding-left:3px
}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{
	margin-bottom:15px;
	color:#212121
}
blockquote{
	font-style:italic;
	color:#888;border-left:
	5px solid #27ae60;
	margin-left:0;
	padding:10px 15px
}
blockquote:before{
	content:&#39;\f10d&#39;
	display:inline-block;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:400;
	line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
	margin-right:10px;
	color:#888
}
blockquote:after{content:&#39;\f10e&#39;;display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-left:10px;color:#888}
.button{
	background-color:#2c3e50;
	float:left;
	padding:5px 12px;
	margin:5px;
	color:#fff;
    text-align:center;
    border:0;
    cursor:pointer;
    border-radius:3px;
    display:block;
    text-decoration:none;
    font-weight:400;
    transition:all .3s ease-out !important;-webkit-transition:all .3s ease-out !important
}
a.button{
	color:#fff
}
.button:hover{
  background-color:#27ae60;
  color:#fff
}
.button.small{
  font-size:12px;
  padding:5px 12px
}
.button.medium{
  font-size:16px;
  padding:6px 15px
}
.button.large{
  font-size:18px;
  padding:8px 18px
}
.small-button{
  width:100%;
  overflow:hidden;
  clear:both
}
.medium-button{
  width:100%;
  overflow:hidden;
  clear:both
}
.large-button{
  width:100%;
  overflow:hidden;
  clear:both
}
.demo:before{
    content:&quot;\f06e&quot;;
    margin-right:5px;
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    line-height:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.download:before{
    content:&quot;\f019&quot;;
    margin-right:5px;
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    line-height:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.buy:before{
    content:&quot;\f09d&quot;;
    margin-right:5px;
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    line-height:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.visit:before{
    content:&quot;\f14c&quot;;
    margin-right:5px;
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    line-height:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.widget .post-body ul,.widget .post-body ol{
    line-height:1.5;
    font-weight:400
}
.widget .post-body li{
    margin:5px 0;
    padding:0;line-height:1.5
}
.post-body ul li:before{
    content:&quot;\f105&quot;;
    margin-right:5px;
    font-family:fontawesome
}